.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 5px 0;
}

#container {
  width: 100%;
  padding: 0px 15px 5px 0px;
}

#item {
  margin: 5px 0 5px 0;
}

.w-100 { 
  width: 100%;
}

span.badge {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

#tags {
  padding-left: 15px;
  margin-top: 30px;
}

#container div[class^="col-"] {
  padding-left: 15px;
}

.body-headings {
  margin-top: 10px;
}