.recipe-img {
  object-fit: cover;
  max-height: 150px;
  max-width: 250px;
}

.recipe-badge {
  margin-right: 5px;
}

.card-body {
  padding: 1.25rem !important;
}

.card-title {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}
