#form-item {
  margin: 5px 0 5px 0;
}

.recipe-form {
  width: 100%;
  padding: 15px 15px 0 15px;
}



#tags div[class$="control"] {
  border-radius: 6px;
}

.form-group #tags {
  margin-top: 0px;
  padding-left: 0px;
}